<!--The content below is only a placeholder and can be replaced.-->
<div id="main-content" class="container">
  {{greetingAry?.length}}
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngFor="let x of greetingAry; let i=index">
        {{i}} ---> {{x}}<br>
      </ng-container>
    </div>
    <!-- <div class="col-md-12">
      {{greeting}}
    </div> -->
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label for="connect">WebSocket connection:</label>
          <button (click)="connect()" class="btn btn-default" type="submit">Connect</button>
          <button (click)="disconnect()" class="btn btn-default" type="submit" disabled="disabled">Disconnect
          </button>
        </div>
      </form>
    </div>
    <!-- <div class="col-md-6">
          <form class="form-inline">
              <div class="form-group">
                  <label for="name">What is your name?</label>
                  <input type="text" [(ngModel)]="name" class="form-control" name="name"> <br>
              </div>
              <button (click)="sendMessage()" class="btn btn-default" type="submit">Send</button>
          </form>
      </div> -->

    <!-- <p> {{ greeting }}</p> -->
  </div>

</div>
<router-outlet></router-outlet>
